<header class="header">
  <p class="header-title">
    <a ui-sref="home">Home</a>
    <a ui-sref="login" ng-if="!vm.isAuthenticated">Login</a>
    <a ui-sref="dashboard" ng-if="vm.isAuthenticated">Dashboard</a>
    <span class="pull-right" style="color: white;" ng-if="vm.isAuthenticated">Welcome {{vm.username}} {{$root.isAuthenticated}}</span>
    <div class="btn btn-default" ng-click="vm.logout()" ng-if="vm.isAuthenticated">logout</div>
    <!--div class="btn btn-default" ng-if="isAuthenticated">isAuth</div>
    <div class="btn btn-default" ng-if="!isAuthenticated">isNotAuth</div-->
  </p>
</header>
